services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    container_name: laravel_app
    ports:
      - "8086:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    dns:
    - 8.8.8.8
    - 1.1.1.1

  pgadmin:
    image: dpage/pgadmin4
    container_name: pg_admin
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: laravel_pgsql
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
